<br>
<div class="font-weight-bold text-right mb-2 text-info" style="font-size:25px;">Amount to be paid</div>
<br>
<div class="text-right" style="font-size : 20px"><mark style="background-color:yellow;">Rs.{{grandTotal}}</mark></div>

<div class="mybtn-right"><button type="button" (click)="addCard()">Add New Card</button></div>

<br><br><br>

<h3 class="title text-primary"><b>Your saved Debit Cards</b></h3>
<br>
<div *ngIf="!viewCardDetails">
  <div *ngFor="let card1 of cardList1; let i1=index" style="padding: 1%;">
    <div class="card">
      <div class="row">
        <div class="col card-block offset-1" style="padding: 5px;">
          <input type="radio" name="pay" (click)="selectExistingCards1(i1)" />
          <br />
          <strong>CARD TYPE:</strong> {{card1.cardType}}
          <br />
          <strong>CARD NUMBER:</strong> {{card1.cardNumber}}
          <br />
          <strong>NAME ON CARD:</strong> {{card1.nameOnCard}}
          <br />
          <strong>EXPIRY DATE:</strong> {{card1.expiryDate}}
          <br />
          <div *ngIf="i1==selectedI1">
            <div class="col card-block">
              <br />
              <button class="btn btn-primary" [disabled]="selectedI1 != i1"
                (click)="placeOrder(card1); confirmOrder1=true">Confirm Order</button>
              <br />
            </div>

            <div *ngIf="confirmOrder1">
              <div class="col card-block">
                <br />
                <strong>Enter Order ID:</strong>
                <div class="input-group">
                  <input type="text" placeholder="Enter the OrderID generated above" class="form-control ml-5 mr-4"
                    [(ngModel)]="orderId" />
                </div>
                <br />
                <strong>Enter CVV:</strong>
                <div class="input-group">
                  <input type="password" placeholder="Enter your Debit Card CVV" class="form-control ml-5 mr-4"
                    [(ngModel)]="cvvg" (ngModelChange)="validation()" />
                  <button class="btn btn-success" (click)="makePayment(card1)"
                    [disabled]="showError || selectedI1 != i1">Pay</button>
                </div>
                <br />
                <div *ngIf="showError" class="text-danger">{{showError}}</div>
                <br />
              </div>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="!cardList1 || cardList1.length==0" class="error-message">
        No debit cards are added
      </div>
    </div>
  </div>


  <!-- Write a code to display the credit card details like card type, number, name and expiry date.
  On selecting the particular order, Confirm Order should be displayed.
  After confirming the order, Payment should be done by providing OrderID and CVV. -->


  <h3 class="success-message text-center">{{successMessage}}</h3>
  <h3 class="error-message text-center">{{errorMessage}}</h3>