<div class="row">

    <!-- Write the code to display the success and error message after adding product to the cart -->


    <div class="card-deck" style="width: 267px; position: relative;">

        <!-- Write the code to display the selected product image and Add to Cart button -->
        
    </div>


    <div class="card " style="width: 353px;">

        <!-- Write the code to display the selected product details like 
            name, brand, category, features and price -->
        
    </div>

</div>