<mat-card class="bg-warning" style="width: 100%;">
    <div class="container mt-2">
        <div class="offset-md-3 col-md-8">
            <div>
                <br>
                <table class="table table-condensed text-black">
                <br>
                <tr>
                    <th>Name:</th>
                    <td>{{customer.name}}</td>
                </tr>
                <br>
                <tr>
                    <th>Email ID:</th>
                    <td>{{customer.emailId}}</td>
                </tr>
                <br>
                <tr>
                    <th>Phone Number:</th>
                    <td>{{customer.phoneNumber}}</td>
                </tr>
                <br>
                </table>
            </div>
        </div>
    </div>
</mat-card>