<br>
<h3 *ngIf="successMessage!=null && successMessage!=''" class="success-message">
  {{successMessage}}
</h3>
<h3 *ngIf="errorMessage!=null && errorMessage!=''" class="error-message">
  {{errorMessage}}
</h3>

<!-- write a code to display the cart product details which includes image, name, brand and price
also add a Remove button to delete the product
if cart is empty then display appropriate message and provide a button which will call continueShopping()-->



<div class="d-flex justify-content-end mt-3" *ngIf="cartList && cartList.length > 0 ">
  <button class="btn btn-success w-100 mb-4" (click)="placeOrder(cartList)" style="font-size : 1.2rem">
    Place Order
  </button>
</div>