<div style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div>
                <!-- <img src="../assets/images/ekart-graphics.png"  class = "rounded mx-auto d-block" height="100" width="200"> -->
            <mat-card>
                <h3 class="title text-info"><b>Customer Login</b></h3>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()"> 
                <div class="form-group">

                    <mat-label>Email ID</mat-label>
                    <input class="form-control" formControlName="emailId" placeholder="Enter your Email ID" id="emailId">
                    <!-- <label for="emailId">Email Id</label>
                    <input class="form-control" formControlName="emailId" placeholder="Email Id" id="emailId" /> -->

                    <div *ngIf="loginForm.controls['emailId'].invalid && loginForm.controls['emailId'].touched">
                        <div class="field-error-message" *ngIf="loginForm.controls['emailId'].hasError('required')">
                            Email Id is Mandatory
                        </div>
                        <div class="field-error-message"
                            *ngIf="loginForm.controls['emailId'].dirty && loginForm.controls['emailId'].hasError('emailIdPatternError')">
                            Email Id pattern is invalid
                        </div>
                    </div>
                    
                </div>

                <br>
            
                <div class="form-group">

                    <mat-label>Password</mat-label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter your Password" id="password" >

                    <!-- <label for="Password">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" -->
                        <!-- id="password" /> -->
                    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
            
                        <div class="field-error-message" *ngIf="loginForm.controls['password'].hasError('required')">
                            Password is Mandatory
                        </div>
                        <div class="field-error-message"
                            *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].hasError('passwordPatternError')">
                            Password pattern is invalid
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
            
                    <button type="submit" class="col-md-4 offset-md-1 btn btn-success" [disabled]="!loginForm.valid">
                        Login
                    </button>
            
                    <button class="col-md-4 offset-md-2 btn btn-primary" type="reset" (click)="errorMessage=''" [disabled]="loginForm.pristine">
                        Reset
                    </button>
            
                </div>
            </form>
            <h5 *ngIf="tryToLogin" class="text-center text-info"> Logging...Please Wait!!</h5>
            <h3 class="error-message text-justify">{{errorMessage}}</h3>
            <br />
            <div class="text-info" style="font-size:15px;">Are you a new user? &nbsp; <a routerLink="../register"> Sign up</a></div>
            </mat-card>
            </div>
        </div>
    </div>
</div>



